## vi /etc/max-scale.cfg ##

# lytics box ip and port and sever block name

[server-blackbox]
type=server
address=10.14.4.84
port=3306
protocol=MySQLBackend


# rules file
[DbFwall-blackbox]
type=filter
module=dbfwfilter
rules=/usr/local/maxscale/rules_blackbox.txt

# create user and firewall service with server name

[Firewalled Routing Service Blackbox]
type=service
router=readconnroute
servers=server-blackbox
user=maxscale_block
passwd=maxscale_block123
filters=DbFwall-blackbox

# lister port with serive name

[DB firewall Listener Blackbox]
type=listener
service=Firewalled Routing Service Blackbox
protocol=MySQLClient
port=3309

### vi  /usr/local/maxscale/rules_blackbox.txt #####

rule block_regex deny regex '(?s).*[Ss]{1}[Ee]{1}[Ll]{1}[Ee]{1}[Cc]{1}[Tt]{1}.*(account_password|answer|api_key|apiKey|assistant_phone|auth|bcrypt_password_hash|bcrypt_password_soft|birthdate|c_key|c_secret|code|consumer|consumer_key|consumer_secret|custom_code|DeliveryPhone|dncmobile|dncphone|email_password|email_verification_key|emergency_contact_number|hashed_password|mail_smtppass|mobile|new_email_key|new_password_key|oauth_secret|oauth_token|password|password_soft|phone|phone_alt|phone_alternate|phone_alternate_2|phone_fax|phone_home|phone_mobile|phone_number|phone_office|phone_other|phone_work|post_password|primary_contact|recipient|salt|secret|session_id|system_generated_password|user_activation_key|user_pass|valentine_phone|value){1,}.*[Ff]{1}[Rr]{1}[Oo]{1}[Mm]{1}.*([Ww]{1}[Hh]{1}[Ee]{1}[Rr]{1}[Ee]{1})?.*'

rule block_regex_tables deny regex '(?s).*[Ss]{1}[Ee]{1}[Ll]{1}[Ee]{1}[Cc]{1}[Tt]{1}.*.*[Ff]{1}[Rr]{1}[Oo]{1}[Mm]{1}.*(billing_info|booking_usages|booking_config|crns|feedbacks|leads|ola_bookings|recomplet_bookings){1,}.*([Ww]{1}[Hh]{1}[Ee]{1}[Rr]{1}[Ee]{1})?.*'

rule selectstar deny wildcard

rule denyfts deny no_where_clause

users %@% match any rules block_regex block_regex_tables denyfts selectstar

## GRANT On Slave to block ##

GRANT SELECT, SHOW DATABASES ON *.* TO 'maxscale_block'@'10.14.27.120' IDENTIFIED BY PASSWORD '*D0C57E7DD467E361CDBC7F87F62EF0C77D49A76C';

GRANT SELECT, SHOW DATABASES ON *.* TO 'maxscale_block'@'10.14.26.64' IDENTIFIED BY PASSWORD '*D0C57E7DD467E361CDBC7F87F62EF0C77D49A76C';
